.landing-page {
  &--nav {
    align-items: center;
    background-color: gray;
    display: flex;
    height: 80px;
    width: 100%;

    .nav--player {

      &-icon {
        border-radius: 50%;
        background-color: #000;
        width: 50px;
        height: 50px;
        margin: 1em;
      }
  
      &-data {
        display: flex;
        flex-direction: row;
        width: 300px;
  
        .player {
          &-name {
            width: 100%;
            height: 20px;
            background-color: #b7b7b7;
            margin: 1em;
          }
  
          &-chips {
            width: 100%;
            height: 20px;
            background-color: #b7b7b7;
            margin: 1em;
          }
        }
      }
  
      &-about {
        background-color: #FFF;
        width: 50px;
        height: 50px;
        margin-left: auto;
        margin-right: 1em;
      }
    }
  }

  &--dashboard {
    background-color: #FFF;
    display: flex;
    height: 91vh;
  }

  &--player {
    background-color: #FFF;
    width: 70%;
  }

  .player {
    &--heading {
      align-items: center;
      display: flex;
      height: 400px;
      justify-content: center;
    }

    &--name {
      background-color: #696969;
      height: 100px;
      width: 300px;
    }
    
    &--icon {
      background-color: #000;
      border-radius: 50%;
      height: 100px;
      margin: 0 1em;
      width: 100px;
    }

    &--chips {
      display: flex;

      &-amount {
        background-color: #696969;
        height: 100px;
        width: 300px;
      }

      &-get-more {
        background-color: #000;
        border-radius: 50%;
        height: 100px;
        margin: 0 1em;
        width: 100px;
      }
    }

    &--stats {
      background-color: #bbbbbb;
      height: 465px;
      width: 100%;
    }
  }

  &--rooms {
    background-color: #6d6d6d;
    width: 30%;

    .rooms {
      &--add {
        align-items: center;
        background-color: #c1c1c1;
        display: flex;
        height: 100px;
        justify-content: flex-end;
        width: 100%;


        &::after {
          background-color: #000;
          border-radius: 50%;
          content: "";
          display: block;
          height: 70px;
          margin: 1em;
          width: 70px;
        }
      }
      &--list {
        .room {
          &--list-room {
            display: flex;
            margin: 0.5em;
          }

          &--link {
            display: flex;
            height: 50px;
            width: 100%;
          }

          &--name {
            background-color: #9e9e9e;
            height: 50px;
            width: 60%;
          }

          &--num-players {
            background-color: #828282;
            height: 50px;
            width: 20%;
          }

          &--enter {
            background-color: #4e4e4e;
            height: 50px;
            width: 20%;
          }
        }
      }
    }
  }
}