.icon {
  align-items: center;
  background-color: #a91f24;
  border-radius: 50%;
  border: 2px solid #000;
  display: flex;
  justify-items: center;
  position: relative;

  &::before {
    display: flex;
    font-size: 3em;
    justify-self: auto;
    left: 50%;
    margin-left: -.5em;
    position: absolute;
  }

  &_large {
    height: 100px;
    width: 100px;
  }

  &_medium {
    height: 75px;
    width: 75px;
  }

  &_small {
    height: 50px;
    width: 50px;
    font-size: 0.6em;
  }
}