.seat {
  display: flex;
  text-align: right;

  &--place {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;

    &__empty {
      justify-content: center;
      background-color: gray;
      color: white;
      align-items: center;
      font-size: 1.5rem;
    }

    &__player {
      &-name {
        margin: 10px 0;
      }

      &-face {
        background-color: purple;
        position: relative;
        margin: 0 1em;

        > .coins {
          position: absolute;
          bottom: 0;
        }
      }
    }
  }

  &--player {
    &-container {
      display: flex;
      text-align: center;
    }
  }
}