@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?com0ca');
  src:  url('/fonts/icomoon.eot?com0ca#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?com0ca') format('truetype'),
    url('/fonts/icomoon.woff?com0ca') format('woff'),
    url('/fonts/icomoon.svg?com0ca#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pacman:before {
  content: "\e916";
}
.icon-spades:before {
  content: "\e917";
}
.icon-clubs:before {
  content: "\e918";
}
.icon-diamonds:before {
  content: "\e919";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-shield:before {
  content: "\e9b4";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-frustrated:before {
  content: "\e901";
}
.icon-emoticon1:before {
  content: "\e901";
}
.icon-smiley1:before {
  content: "\e901";
}
.icon-face1:before {
  content: "\e901";
}
.icon-angry:before {
  content: "\e901";
}
.icon-sleepy:before {
  content: "\e902";
}
.icon-emoticon2:before {
  content: "\e902";
}
.icon-smiley2:before {
  content: "\e902";
}
.icon-face2:before {
  content: "\e902";
}
.icon-wondering:before {
  content: "\e903";
}
.icon-emoticon3:before {
  content: "\e903";
}
.icon-smiley3:before {
  content: "\e903";
}
.icon-face3:before {
  content: "\e903";
}
.icon-question:before {
  content: "\e903";
}
.icon-hipster:before {
  content: "\e904";
}
.icon-emoticon4:before {
  content: "\e904";
}
.icon-smiley4:before {
  content: "\e904";
}
.icon-mustache:before {
  content: "\e904";
}
.icon-face4:before {
  content: "\e904";
}
.icon-neutral:before {
  content: "\e905";
}
.icon-emoticon5:before {
  content: "\e905";
}
.icon-smiley5:before {
  content: "\e905";
}
.icon-face5:before {
  content: "\e905";
}
.icon-confused:before {
  content: "\e906";
}
.icon-emoticon6:before {
  content: "\e906";
}
.icon-smiley6:before {
  content: "\e906";
}
.icon-face6:before {
  content: "\e906";
}
.icon-bewildered:before {
  content: "\e906";
}
.icon-baffled:before {
  content: "\e907";
}
.icon-emoticon7:before {
  content: "\e907";
}
.icon-smiley7:before {
  content: "\e907";
}
.icon-shocked:before {
  content: "\e907";
}
.icon-face7:before {
  content: "\e907";
}
.icon-shocked1:before {
  content: "\e908";
}
.icon-emoticon8:before {
  content: "\e908";
}
.icon-smiley8:before {
  content: "\e908";
}
.icon-face8:before {
  content: "\e908";
}
.icon-evil:before {
  content: "\e909";
}
.icon-emoticon9:before {
  content: "\e909";
}
.icon-smiley9:before {
  content: "\e909";
}
.icon-face9:before {
  content: "\e909";
}
.icon-angry1:before {
  content: "\e90a";
}
.icon-emoticon10:before {
  content: "\e90a";
}
.icon-smiley10:before {
  content: "\e90a";
}
.icon-face10:before {
  content: "\e90a";
}
.icon-rage:before {
  content: "\e90a";
}
.icon-cool:before {
  content: "\e90b";
}
.icon-emoticon11:before {
  content: "\e90b";
}
.icon-smiley11:before {
  content: "\e90b";
}
.icon-face11:before {
  content: "\e90b";
}
.icon-grin:before {
  content: "\e90c";
}
.icon-emoticon12:before {
  content: "\e90c";
}
.icon-smiley12:before {
  content: "\e90c";
}
.icon-face12:before {
  content: "\e90c";
}
.icon-wink:before {
  content: "\e90d";
}
.icon-emoticon13:before {
  content: "\e90d";
}
.icon-smiley13:before {
  content: "\e90d";
}
.icon-face13:before {
  content: "\e90d";
}
.icon-sad:before {
  content: "\e90e";
}
.icon-emoticon14:before {
  content: "\e90e";
}
.icon-smiley14:before {
  content: "\e90e";
}
.icon-face14:before {
  content: "\e90e";
}
.icon-tongue:before {
  content: "\e90f";
}
.icon-emoticon15:before {
  content: "\e90f";
}
.icon-smiley15:before {
  content: "\e90f";
}
.icon-face15:before {
  content: "\e90f";
}
.icon-smile:before {
  content: "\e910";
}
.icon-emoticon16:before {
  content: "\e910";
}
.icon-smiley16:before {
  content: "\e910";
}
.icon-face16:before {
  content: "\e910";
}
.icon-happy:before {
  content: "\e911";
}
.icon-emoticon17:before {
  content: "\e911";
}
.icon-smiley17:before {
  content: "\e911";
}
.icon-face17:before {
  content: "\e911";
}
.icon-gamepad:before {
  content: "\e900";
}
.icon-dollar:before {
  content: "\e912";
}
.icon-safe:before {
  content: "\e913";
}
.icon-radioactive:before {
  content: "\e914";
}
.icon-rocket:before {
  content: "\e915";
}
