.table {
  background: #008000;
  height: 430px;
  border-radius: 30%;
  width: 850px;
  border: 2em solid #000;
  position: relative;

  &--seat-one {
    position: absolute;
    top: -8.5em;
    right: 10em;
  }

  &--seat-two {
    position: absolute;
    top: 3.5em;
    right: -8.5em;
  }

  &--seat-three {
    position: absolute;
    top: 16.5em;
    right: -8.5em;
  }

  &--seat-four {
    position: absolute;
    top: 29em;
    right: 10em;
  }

  &--seat-five {
    position: absolute;
    top: 29em;
    left: 10em;
  }

  &--seat-six {
    position: absolute;
    top: 3.5em;
    left: -8.5em;
  }

  &--seat-seven {
    position: absolute;
    top: 16.5em;
    left: -8.5em;
  }

  &--seat-eight {
    position: absolute;
    top: -8.5em;
    left: 10em;
  }
}

.table-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}