.info {
  position: relative;

  .icon {
    background-color: #5268ff;
    border-color: #ffffff;
    color: white;
  }

  &-overlay {
    background-color: #000;
    color: #FFFFFF;
    display: none;
    position: absolute;
    left: -166px;

    &::before {
      border-bottom: 8px solid #000;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      content: "";
      height: 0; 
      left: 192px;
      position: absolute;
      top: -6px;
      width: 0; 
    }

    &.active {
      display: flex;
      width: auto;
    }

    &--text {
      margin: 0;
      padding: 1em;
    }

    .icon-heart {
      color: #ff0011;
    }
  }

  &-button {
    border: none;
    background-color: transparent;
  }
}